{% extends "base.html" %}
{% block content %}

<div class="post-list">
    {% for article in articles_page.object_list %}
    <article class="uk-article">
        <h1 class="uk-article-title">
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
        </h1>
        <p class="uk-article-meta">Written by <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a> @ <abbr title="{{ article.date.isoformat() }}">{{ article.date|strftime("%Y-%m-%d %H:%M") }}</abbr></p>
        <p class="uk-article-content"> {{ article.summary }} </p>
        <p><a class="uk-button" href="{{ SITEURL }}/{{ article.url }}">Read On ...</a></p>
        <hr class="uk-article-divider">
    </article>
    {% endfor %}
</div>
{% include 'pagination.html' %}

{% endblock content %}
